*{
    font-family: sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
.first{
    background-color: #316dc3;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap:wrap;

   
}
.icon,.text_first,.right_butt{
    /* width: 300px; */
    background-color: #316dc3;
    height: 50px;
    
}
 .icon{
     padding-left: 50px;
} 
.icon img{
    height: 22px;
    width: 22px;
    padding:14px 10px 10px 10px;
    /* padding: 10px;
    padding-top: 10px;
    padding-left: 10px; */
}
.text_first{
    text-align: center;
    color: white;
}
.right_butt{
  
}
.right_butt button{
    background-color: white;
    border: 1px solid black;
  
 padding: 6px;
 margin-top: 10px;   
    color: gray;
}

.second{
    width: 100%;
     background-color:white;
    height:70px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap:wrap;
}


/* @media screen and (max-width:200px)
{
.second .logo .nav_bar{
position: absolute;
top:500px;

}


} */
.logo{

/* width: 300px; */
padding-left:0px;
position: relative;
left: 0px;
margin-top: 8px;
}
.logo img{
    height: 50px;
    width:200px ;
}
.nav_bar{
    position:relative;
    right: 0px;
    top: 10px;
   left: 50px;

}
.nav_bar ul{
list-style: none;


}
.main_menu ul li{
    display: inline-block;
    padding-left: 3px;

}
 a.active{
     background-color: #316dc3;
      color: white;
 border-radius: 100px;
    }
.main_menu ul li a{

    padding: 9px;
}
.main_menu ul li:hover a{

    background-color:#316dc3;
    color: white;
    border-radius: 100px;
    
}
.inside{
    display: none;
    position:absolute;
}
/* .inside ul li:hover a{
    background-color: blue;
    color: white;
} */
.main_menu ul li:hover .inside{
    display: block;
    background-color: white;
    color: black;
    padding: 5px;
    margin-top: 12px;
}
.main_menu ul li .inside li{
    display: block;

}
.inside li{
    background-color: white;
    padding: 10px;
}
.inside li:hover {
    background-color: #316dc3;
    color: white;

}
.third{
    display: flex;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 20s slidy infinite; 
    }
    .second-slide{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 30px;
        width: 80%;
        background-color: #316dc3;
        margin: 10px auto;
        
    }
    .second-slide p{
        color: white;
        margin-top: 6px;
    }
    .center-para{
        display: flex;
        background-color:white;
        height: 600px;
        margin:20px auto;
        width: auto;
     
    }
    .intro-sec{
        display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
        height: 300px;
        width: 50%;
        margin:0px auto;
        background-color:white;
        position: relative;
        left: 450px;
    }
    
    .heading{
        text-align: center;
        margin:0px auto;
      
    }
    .heading h1{
        font-size: 42px;
        padding-top: 50px;
        text-align:center;
        color:#316dc3;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
  
.hr{
    height: 2px;
    width: 300px;
    background-color: #427900;
    position: absolute;
    top: 130px;

}

.para{
    height: 500px;
    width: 90%;
    margin: 10% auto  0px auto;
    background-color:white;
    position: relative;
    top: 0px;
    right: 220px;
 
}
.para p{

    padding :10px;
    color: gray;
letter-spacing: 1px;
word-spacing: 1px;
}

.num{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background:#316dc3;
    width: auto;
    height: 350px;
    margin-top: 50px;
    position: relative;
    top: 20px;
}
.num1{
    margin: 5px;
    background-color:#316dc3;
    display: flex;
     justify-content: center;
    justify-items:center; 
    flex-wrap: wrap;
    flex: 1;
}
    .num2{
        margin: 5px;
        background-color:#316dc3;
        flex: 1;
    }
    .num3{
        margin: 5px;
        background-color:#316dc3;
        flex: 1;
    }
    .num4{
        margin: 5px;
        background-color:#316dc3;
        flex: 1;
    }

.num1 img{
    position: absolute;
    top:15%;
    left:10%;
    height: 60px;
    width: 60px;
}
.num2 img{
    position: absolute;
    top:15%;
    left:35%;
    height: 60px;
    width: 60px;
}
.num3 img{
    position: absolute;
    top:15%;
    left:60%;
    height: 60px;
    width: 60px;
}
.num4 img{
    position: absolute;
    top:15%;
    left:85%;
    height: 60px;
    width: 60px;
}
.num1  h1{
    text-align: center;
    color: white;
    font-size: 50px;
    position: relative;
    top: 30%;
    /* left:10%; */
} 

.num2 h1{
    text-align: center;
    color: white;
    font-size: 50px;
    position: relative;
    top: 30%;
    /* left:40%; */
}
.num3 h1{
    text-align: center;
    color: white;
    font-size: 50px;
    position: relative;
    top: 30%;
    /* left:30%; */
}
.num4 h1{
    text-align: center;
    color: white;
    font-size: 50px;
    position: relative;
    top: 30%;
    /* left:10%; */
} 
 .num1 h3{
    text-align: center;
    color: white;
    font-size: 20px;
   position: relative;
   top:7px;
   left:0px;
}
.num2 h3{
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top:100px;
    
}
.num3 h3{
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top:100px;
    /* left:5%; */
}
.num4 h3{
    text-align: center;
    color: white;
    font-size: 20px;
    position: relative;
    top:100px;
}
/* .doing{  
    height:900px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    background-color: dodgerblue;

    
} */
.head{
    position: relative;
     height: 100px;
    width:auto;
  margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items:center;
}
.head h1{
    text-align: center;
    color: #316dc3;
    margin-top: 5%;
 }

 hr{
     height: 3px;
     width: 300px;
     background-color: #427900;
 }
.box-area{
    background-color:white;
    position: relative;
    top:0%;
    height: 550px;
   display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin:10px;

      }
    
.single-box1{
    position: relative;
    top:0%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:350px;
    height:200px;
    background-color:white;
    text-align:center;
    margin:15px;
    color: #316dc3;
    /* width: 250px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
    }
        
.single-box2{
    position: relative;
    top:0%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:350px;
    height:200px;
    background-color:white;
    text-align:center;
    margin:15px;  color: #316dc3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .single-box3{
        position: relative;
        top:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:350px;
        height:200px;
        background-color:white;
        text-align:center;
        margin:15px;
        color: #316dc3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
        }
        .single-box4{
            position: relative;
            top:-4%;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            width:350px;
            height:200px;
            background-color:white;
            text-align:center;
            margin:15px;
            color: #316dc3;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          
            }

            .single-box5{
                position: relative;
                top:-4%;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                width:350px;
                height:200px;
                background-color:white;
                text-align:center;
                margin:15px;
                color: #316dc3;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              
                }
                .single-box6{
                    position: relative;
                    top:-4%;
                    display:flex;
                    flex-direction:column;
                    align-items:center;
                    justify-content:center;
                    width:350px;
                    height:200px;
                    background-color:white;
                    text-align:center;
                    margin:15px;
                    color: #316dc3;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  
                    }
                    /* .second-image{

                margin-top: 10px;
                    } */
    .img-area img{
        height:100px;
        width: 100px;
    }
    .img-area{
        height: 100px;
        width: 100px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:300px;
    height:auto;
    margin-bottom:10px;
     /* -webkit-background-size:cover;
    background-size:cover;
    background-position:center center;*/
    } 
    .forth{
        background-color:white;
        position: relative;
        top:0%;
        height: 400px;
       display:flex;
        flex-wrap:wrap;
        /* justify-content:center;
        align-items:center; */
        margin-left:20px;
    
          }

          .mission{
            background-color:white;
            position: relative;
            top:0%;
            width: 650px;
            height: 350px;
           display:flex;
            flex-wrap:wrap;
            justify-content:flex-start;
            align-items:flex-start;
          
        
              }
.mission h3{
    margin-left: 10px;
    color: #316dc3;
    font-size:30px;
}
.box1{
 
  
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:250px;
    height:70px;
    background-color:lightgray;
    text-align:center;
    margin:15px;
    color: #316dc3;

}

.box2{
    
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:250px;
    height:70px;
    background-color:lightgray;
    text-align:center;
    margin:15px;
    color: #316dc3;

}
.box3{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:250px;
    height:70px;
    background-color: lightgray;
    text-align:center;
    margin:15px;
    color: #316dc3;

}
.box4{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:250px;
    height:70px;
    background-color:lightgray;
    text-align:center;
    margin:15px;
    color: #316dc3;

}
.hr2{
    margin-top: 10px;
    height: 3px;
    width: 100px;
    background-color: #427900;
}
.img1-area{
    margin: 10px;
    top: 10px;
    
}
.text1{
padding: 10px;

}
.text2{
    padding: 10px;
}
.text3{padding: 10px;
}
.text4{
    padding: 10px;
}
.fifth{
    background-color:white;
    /* position: relative;
    top:0%; */
    margin-left:40px;
    height: 400px;
    width: 400px;
   display:flex;
    flex-wrap:wrap;
    /* justify-content:center;
    align-items:center; */

      }
    .event{
        background-color:white;
        border: 2px solid white;
        position: relative;
        top:0%;
        width: 550px;
        height: 300px;
       display:flex;
        flex-wrap:wrap;
        justify-content:flex-start;
        align-items:flex-start;

    }
    .fifth h3{
        padding-top: 20px;
        font-size: 30px;
       margin:10px;
       color:#316dc3 ;

    }
    .hr3{
        margin-top: 10px;
        height: 3px;
        width: 100px;
        background-color: #427900;
    }
.up-text p{
 color: gray;
 font-size: 15px;
 margin: 5px;
}
 

.hr6{
    margin-top:-40px;
    height: 3px;
    width: 200px;
    background-color: #427900;
   margin:0px auto 10px auto;

}

 H2{
     margin-top: 40px;
    font-size: 30px;
    color: #316dc3;
    text-align: center;
}
/* .gallery-img
{
    background-color:lightgray;
    border: 2px solid white;
    position: relative;
    top:0%;
    width: 800px;
    height: 300px;
   display:flex;
   flex-direction: column;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-start;

/* } 
/* .box img{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
}  */
.gallery{
   
    background-color:skyblue;
    /* position: relative;
    top:0%; */
    height: 200px;
   display:flex;
   flex-wrap:wrap;
    justify-content:start;
    flex-direction: column;
    
   
    
}
.pic{
    margin-top: 30px;
    margin: 30px 10px 10px 10px;
    display:flex;
    flex-wrap:wrap;
     justify-content:start;
     flex-direction: column;
}
.pic img{
    height: 150;
    width: 200px;
}
.last{
    height: 350px;
    background-color:#25272e;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}
.one{
    padding: 20px;
    margin-left:40px ;
    height: 300px;
    background-color: #25272e;
    width: 400px;
    color: white;
  
}
.one h4{
    margin-left: 30px;
    padding-right: 10px;
    font-weight: lighter;
}
.one i{
    margin-left: 10px;
    padding-right: 15px;
}

.two{
    height: 200px;
    width: 350px;
    background-color: #25272e;
    margin-left: 30px;
  

}
.two h4{

    margin-left: 30px;
    padding-right: 10px;
    font-weight: lighter;
    color: white;
    font-size: 25px;
}
.hr5{
    height: 2px;
    width: 300px;
    background-color: lightgray;
   
    
    margin: -20px 0px 10px  20px;
}
.three{
    height: 200px;
    width: 400px;
    background-color:#25272e;
    margin-left: 40px;

}
.three h4{

    margin-left: 0px;
    padding-right: 10px;
    font-weight: lighter;
    color: white;
    font-size: 23px;
}
.three .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 2px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #316dc3;
    color: white;
  }
  
  .fa-twitter {
    background: #316dc3;
    color: white;
  }
  .fa-youtube {
    background: #316dc3;
    color: white;
  }
  
  .fa-instagram {
    background: #316dc3;
    color: white;
  }
  .footer{
      height: 50px;
      background-color:#316dc3 ;
      margin-top: -30px;
      position: relative;
  }
    
  .footer p{
      color: white;
      padding-left: 140px;
    padding-top: 20px;
 
      
  }